<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/mystyle.css">
    </head>
    <body>
        <div class="center"> 
            <h1>How musico works</h1>
            <p>
            	Musico is a full stack AI app that generates, streams and labels music. A special kind of recurrent neural
            	network, long short term memory network (LSTM) has been trained on a dataset of classical music
            	written in text-based abc notation. A Flask web app (backend) integrated with this LSTM is in charge
            	of generating music. The backend is deployed in Google App Engine. An Android app (frontend) is
            	responsible for streaming music and collect users' feedback about the AI-generated music.
            </p>
            <p>
            	It is certain that artificial inteligence (neural networks) is developing fast in these years. However, the application of it in people's daily life is far behind the accademic progess. Musico suggests a business model that may be possible for any generative neural network. Musico sells the outputs of neural networks and collects data from users. The AI powered backend generates and stores music everyday in the Google cloud. The front end is a Android app that streams music for the user. It also collects "likes" and "dislikes" of music from the user, which are labels that can be used for improving our neural network gradually. In other owrds, the good outputs picked by users can be fed into neural network to train further. It's free for listenning. This app could make profit by selling the copyright of the hit music. 
            </p>
            <p>Check out our <a href="https://github.com/depplenny/musico">github</a>.</p>

        </div>
    </body>
</html>